@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.navigation {
  margin: 0 auto;
  width: 1060px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}

.logo-site {
  max-width: 100%;
  height: auto;
  position: absolute;
}

.nav {
  justify-content: space-between;
  margin-left: 168px;
  display: flex;
}

.nav-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0;
  display: flex;
  list-style-type: none;
  padding: 0;
  max-width: 500px;
  flex-wrap: wrap;
}

.current-link::after {
  position: absolute;
  content: "";
  width: 69px;
  top: 63px;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background: #756257;
}

.current-links::after {
  position: absolute;
  content: "";
  width: 90px;
  top: 63px;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background: #756257;
}

.navigation-item {
  text-decoration: none;
  position: relative;
}

.navigation-user {
  text-decoration: none;
  justify-content: flex-end;
}

.nav-list-link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 20px 16px;
}

.nav-list-link:hover {
  color: #756157;
}

.navigation-link-user {
  text-decoration: none;
  min-height: 64px;
  width: 44px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  color: #000000;
}

.search-icon:focus {
  color: #756257;
}

.search-icon:hover {
  color: #756257;
}

.favourite-icon {
  color: #000000;
  position: relative;
  display: flex;
  margin-right: 20px;
}

.favourite-icon:focus {
  color: #756257;
}

.favourite-icon:hover {
  color: #756257;
}

.favourite-number {
  position: absolute;
  right: 3px;
  top: 11px;
  padding: 5px;
  font-weight: 400;
  font-size: 10px;
  font-style: normal;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  max-width: 50px;
}

.main-index {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/curtain.svg"), url("../images/index-background.jpg");
  background-color: #688fa9;
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  padding: 51px 0 82px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.advantage-block {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 69px 270px;
  margin-bottom: 21px;
}

.advantages-block-invite {
  margin-top: 3px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 64px 270px;
}

.advantages-text {
  margin: 0;
  padding: 103px 85px;
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  margin: 0;
  padding: 112px 84px;
  text-align: center;
  box-sizing: content-box;
  flex: 1;
}

.pictures {
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
  padding: 0;
}

.header-block {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.header-block-two {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #333333;
}

.description-header-two {
  font-size: 22px;
}

.description-block {
  font-size: 22px;
  color: #333333;
  line-height: 26px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

.description-color {
  color: #333333;
}

.advantages-img {
  display: block;
  height: 100%;
  object-fit: cover;
  background-color: #82b3d3;
}

.advantages-heading {
  font-width: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.advantages-heading::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-text .advantages-heading::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.service-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.service-item {
  width: 400px;
  min-height: 385px;
  text-align: center;
  flex: 1;
}

.service-block {
  text-align: center;
  padding: 80px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100%;
  box-sizing: border-box;
}

.service-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

.interested {
  padding: 96px 304px;
  text-align: center;
}

.button-search {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 54px auto 0;
  padding: 8px 50px;
  display: inline-block;
  color: #ffffff;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  background-color: #615048;
}

.button-search:active {
  background-color: #756157;
  color: rgba(255 255, 255, 0.3)
}

.sub-img {
  background-color: #828282;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.subscribe {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-field {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 12px 20px;
  width: 452px;
  max-height: 52px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.subscribe-form {
  display: flex;
  width: 684px;
}

.subscribe-field:hover {
  background-color: #e6e6e6;
}

.subscribe-field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.subscribe-field:active {
  color: #000000;
}

.subscribe-field:disabled {
  color: #e5e5e5;
}

.subscribe-button {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  width: 232px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 36px;
  padding: 8px 50px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus {
  background-color: #68a2ca;
}

.subscribe-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3)
}

.subscribe-button:disabled {
  background-color: #e5e5e5;
}

.header-button {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  padding: 8px 34px;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.header-button:hover {
  background-color: #615048;
  outline: none;
}

.header-button:focus {
  background: #615048;
}

.header-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.header-button:disabled {
  background-color: #e5e5e5;
}

.subscribe .description-block {
  margin-bottom: 54px;
}

.main-footer {
  width: 1200px;
  padding: 40px 0 30px 0;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 146px;
  list-style: none;
}

.social-icon {
  color: #83b3d3;
}

.social-icon:hover {
  color: #68a2ca;
}

.social-icon:focus {
  color: #68a2ca;
  outline: none;
}

.social-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.social-icon:disabled {
  color: #e5e5e5;
}

.footer-asdnumber {
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 331px;
  padding: 0 194px;
}

.footer-number {
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  height: 40px;
}

.footer-number:hover {
  color: #756157;
}

.footer-number:focus {
  color: #756157;
  outline: none;
}

.footer-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-number:disabled {
  color: #e5e5e5;
}

.contact-logo {
  padding: 0 47px 0 0;
  color: #000000;
}

.contact-logo:hover {
  color: #756157;
}

.contact-logo:focus {
  color: #756157;
}

.contact-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.blue {
  background-color: #82b3d3;
  color: #ffffff;
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.light-blue-advantages {
  background-color: rgba(131, 179, 211, 0.2);
}

/* каталог */
.head-main {
  background-color: #a9a9a9;
  background-image: url("../images/catalog-backgr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 70px 58px;
  margin-bottom: 50px;
  min-height: 300px;
  /* height: auto; */
}

.catalog-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.catalog-navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-navigation-item {
  position: relative;
  height: 21px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-checkbox {
  border: none;
  margin: 0 71px 0 0;
  padding: 0;
}

.catalog-filter-radio {
  border: none;
  margin: 0 151px 0 0;
  padding: 0;
}

.catalog-filter-price {
  border: none;
  margin: 0;
  padding: 0;
  width: 288px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 13px;
  height: 26px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
  text-transform: capitalize;
}

.catalog-inputs {
  display: flex;
  margin: 0 0 44px;
  padding: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: -1px;
  top: -8px;
}

.catalog-min {
  display: inline-block;
  border: none;
  width: 103px;
  margin: 0;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  box-sizing: content-box;
}

.catalog-min:hover {
  background-color: #e5e5e5;
}

.catalog-max:hover {
  background-color: #e5e5e5;
}

.catalog-min:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.catalog-max:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.catalog-max {
  display: inline-block;
  border: none;
  width: 103px;
  margin: 0 2px;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 0 4px 4px 0;
  box-sizing: content-box;
}

.from-to {
  position: relative;
  right: 185px;
  top: 13px;
  color: #000000;
  opacity: 30%;
  line-height: 24px;
}

.before-to {
  position: relative;
  right: 59px;
  top: 13px;
  color: #000000;
  opacity: 30%;
  line-height: 24px;
}

.catalog-buttons {
  margin: 0 0 0 31px;
  padding: 0;
  width: 191px;
  height: 104px;
  text-align: center;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.inner-search {
  width: 1060px;
  margin: 0 auto;
}

.found-hotel {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  max-width: 350px;
}

.select-control {
  font-family: inherit;
  width: 292px;
  min-height: 39px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 12px 19px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  appearance: none;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: right 20px center;
  padding-right: 21px;
  margin-left: auto;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #68a2ca;
}

.select-control:disabled {
  border-color: rgba(255, 255, 255, 0.3)
}

.display-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: 70px;
}

.display-button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.display-button:hover {
  border-color: #000000;
}

.display-button:focus {
  border-color: #68a2ca;
  outline: none;
}

.display-button:active {
  border-color: #000000;
}

.current-button {
  border: 2px solid #000000;
  background-image: url("../images/icons/table.svg");
}

.view-item {
  background-image: url("../images/icons/item.svg");
}

.view-list {
  background-image: url("../images/icons/list.svg");
}

.product {
  margin-bottom: 60px;
  position: relative;
}

.card-container {
  width: 300px;
  margin-top: 16px;
  display: grid;
  grid-template-columns: 140px auto;
  gap: 16px 20px;
  grid-template-areas:
    "title        title"
    "description  price"
    "btn-more     favorites"
    "stars        rating";
}

.type {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: description;
  margin: 0;
  color: #333333;
}

.product-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0 0 40px;
  margin: 0 0 40px;
  border-bottom: #e6e6e6 1px solid;
}

.product-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.product-img {
  width: 300px;
  height: 212px;
}

.product-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  grid-area: title;
  margin: 0;
}

.product-price {
  margin: 0;
  margin-right: 1px;
  justify-self: end;
  color: #333333;
}

.product-link-details {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  grid-area: btn-more;
}

.product-link-details:hover {
  background-color: #615048;
}

.product-link-details:focus {
  background-color: #615048;
}

.product-link-details:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3)
}

.product-button {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: favorites;
  width: 140px;
  cursor: pointer;
}

.product-button:hover {
  background-color: #68a2ca;
}

.product-button:focus {
  background-color: #68a2ca;
}

.product-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3)
}

.product-button-favorite {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background-color: #7db54f;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: favorites;
  width: 140px;
}

.catalog-submit {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  margin: 56px 0 32px 0;
  padding: 8px 50px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.catalog-submit:hover {
  background-color: #68a2ca;
}

.catalog-submit:focus {
  background-color: #68a2ca;
}

.catalog-submit:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3)
}

.catalog-submit:disabled {
  background-color: #e5e5e5;
}

.catalog-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 50px;
  border: 0;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0);
  cursor: pointer;
}

.catalog-reset:hover {
  color: rgba(255, 255, 255, 0.6)
}

.catalog-reset:active {
  color: rgba(255, 255, 255, 0.3)
}

.catalog-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.catalog-hotel-stars {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  background-image: url("../images/icons/star.svg");
  background-repeat: space no-repeat;
  background-size: 18px 17px;
  background-position: center;
  margin: 0;
  grid-area: stars;
}

.one-stars {
  width: 35px;
}

.two-stars {
  width: 42px;
}

.three-stars {
  width: 66px;
}

.four-stars {
  width: 89px;
}

.five-stars {
  width: 105px;
}

.catalog-hotel-raiting {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 8px 22.5px;
  border-radius: 4px;
  grid-area: rating;
  margin: 0;
  width: 95px;
  color: #333333;
  box-sizing: content-box;
}

.pagination-block {
  margin-bottom: 61px;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-item {
  min-width: 60px;
  text-align: center;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(242, 242, 242, 0.3);
}

.pagination-link,
.pagination-link-current {
  text-decoration: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  text-align: center;
  min-width: 60px;
  min-height: 60px;
  box-sizing: border-box;
}

.pagination-link {
  background: #82b3d3;
  color: #ffffff;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-next {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  text-align: center;
  min-width: 60px;
  min-height: 60px;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: default;
}

.dot {
  color: #000000;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: default;
  user-select: none;
}

.dot:hover {
  background-color: transparent;
}

.dot:focus {
  background-color: transparent;
  outline: none;
}

.dot:active {
  background-color: transparent;
}

.dot:disabled {
  background-color: #f2f2f2;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  max-height: 100%;
  width: 100%;
  max-width: 717px;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  background-color: #ffffff;
  border: none;
}

.section-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(242, 242, 242, 0.8);
  box-sizing: border-box;
}

.modal-closed {
  display: none;
}

.modal-closed {
  display: none;
}

.modal-container-open {
  display: flex;
}

.modal {
  box-sizing: border-box;
  position: relative;
  max-height: 100%;
  width: 100%;
  max-width: 717px;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.modal-form {
  display: grid;
  grid-template-columns: 119px 110px 1fr 110px;
  gap: 23px 18px;
}

.modal-form-label {
  padding-top: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.modal-form-container-children {
  display: flex;
  padding: 0 28px 0 0;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.modal-form-label-children {
  padding-top: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-close-button:focus {
  background-color: #e5e5e5;
  outline: #83b3d3 3px solid;
  outline-offset: -3px;
}

.modal-close-button:active {
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.modal-close-button:disabled {
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.modal-search-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  grid-column: 1 / -1;
  margin-top: 25px;
  min-height: 60px;
  border-radius: 10px;
}

.check-in-date-input {
  grid-column: 2 / -1;
}

.check-out-date-input {
  grid-column: 2 / -1;
}

.modal-form-input {
  display: block;
  width: 100%;
  padding: 12px 50px 12px 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 19px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.error-message {
  display: block;
  padding: 4px 0 0 20px;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
  font-weight: 400;
}

.information-message {
  display: block;
  padding: 4px 0 0 20px;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  font-weight: 400;
}

.modal-form-input:hover {
  background-color: #e6e6e6;
}

.modal-form-input:focus {
  background-color: #e6e6e6;
  outline: #83b3d3 3px solid;
  outline-offset: -3px;
}

.modal-form-input:active {
  background-color: #f5f5f5;
  color: #000000;
}

.modal-form-input:disabled {
  color: #e5e5e5;
}

.quantity-picker {
  display: flex;
  gap: 0;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.quantity-picker:hover {
  background-color: #e6e6e6;
}

.quantity-picker:active {
  color: #000000;
  background-color: #f5f5f5;
}

.quantity-picker:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: #e5e5e5;
}

.btn-minus {
  height: 48px;
  padding: 14px 10px;
  color: rgba(0, 0, 0, 0.149);
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: transparent;
}

.btn-plus {
  height: 48px;
  padding: 14px 10px;
  color: rgba(0, 0, 0, 0.1);
  border-radius: 0 4px 4px 0;
  border: none;
  background-color: transparent;
}

.quantity-picker:focus-within {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 4px;
}

.quantity-picker:hover {
  background-color: #e6e6e6;
}

.quantity-picker:active {
  color: #000000;
  background-color: #f5f5f5;
}

.quantity-picker:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: #e5e5e5;
}

.quantity-picker button {
  height: 48px;
  padding: 14px 10px;
  color: rgba(0, 0, 0, 0.149);
  border: none;
  background-color: transparent;
}

.quantity-picker button:hover svg,
.quantity-picker button:active svg {
  color: #000000;
}

.quantity-picker button:focus {
  outline: none;
}

.quantity-picker button:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 4px;
}

.quantity-picker button:disabled svg {
  color: rgba(0, 0, 0, 0.3);
}

.quantity-picker input {
  width: 31px;
  text-align: center;
  padding: 10px 0;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  border: none;
  background-color: transparent;
}

.quantity-picker input:focus {
  outline: none;
}

.modal-input-guest-amount {
  width: 31px;
  text-align: center;
  padding: 10px 0;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  border: none;
  background-color: transparent;
}

.modal-input-guest-amount:focus {
  outline: none;
}

.tooltip {
  position: relative;
  flex-shrink: 0;
}

.tooltip-toggle:focus {
  outline: none;
}

.tooltip-toggle {
  display: block;
  padding: 0;
  margin: 0;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: none;
  background-color: #83b3d3;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  margin-top: 16px;
  width: 256px;
  padding: 15px 20px 18px;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333333;
}

.secondary-button {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #82b3d3;
  border: none;
  outline: none;
  cursor: pointer;
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: #68a2ca;
}

.secondary-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.secondary-button:disabled {
  background-color: #e5e5e5;
}

.modal-search-title {
  margin-bottom: 64px;
  padding-right: 54px;
}

.control {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.control-mark {
  display: block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-color: #ffffff;
  border: none;
}

.control-mark-checkbox {
  border-radius: 4px;
}

.control-input:checked + .control-mark-checkbox {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 5L8.5 12.4L5.1 8.5L4 9.7L8.5 14.9L16.2 6.3L15 5Z' fill='%233F5E72'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.control-mark-radio {
  border-radius: 50%;
}

.control-input:checked + .control-mark-radio::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  margin: 5px;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.control-label {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.control-label:hover {
  opacity: 0.6;
}

.control-label:focus-visible {
  outline: 3px solid #83b3d3;
}

.modal-input-guest-amount::-webkit-outer-spin-button,
.modal-input-guest-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-input-guest-amount {
  -moz-appearance: textfield;
}

.catalog-navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.catalog-navigation-item {
  display: flex;
  align-items: center;
}

.description-block-sub {
  color: #ffffff;
}

.sub-description {
  margin: 0 auto 54px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.catalog-navigation-link-home {
  background-image: url(../images/icons/home.svg);
  width: 13px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.catalog-navigation-item:not(:first-child)::before {
  content: "";
  background-image: url(../images/icons/arrow-right.svg);
  width: 7px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 10px;
}

.catalog-navigation-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  cursor: pointer;
}

.description-white {
  color: #ffffff;
}

.catalog-navigation-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
  color: #000000;
  background-color: #ffffff;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 146px;
  list-style: none;
}

.social-icon {
  color: #83b3d3;
}

.social-icon:hover {
  color: #68a2ca;
}

.social-icon:focus {
  color: #68a2ca;
  outline: none;
}

.social-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.social-icon:disabled {
  color: #e5e5e5;
}

.footer-contacts {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  max-width: 720px;
  padding: 5px 0;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone-link:hover {
  color: #756157;
}

.footer-phone-link:focus {
  color: #756157;
  outline: none;
}

.footer-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-phone-link:disabled {
  color: #e5e5e5;
}

.footer-logo-link {
  display: flex;
  align-items: center;
  color: #000000;
}

.footer-logo-link:hover {
  color: #756157;
}

.footer-logo-link:focus {
  color: #756157;
  outline: none;
}

.footer-logo-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-phone-link:disabled {
  color: #e5e5e5;
}

.footer-phone-link:focus {
  color: #756157;
  outline: none;
}

.footer-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}
